<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style/chatappdisplay.css">
</head>
<body>
    <div class="main">
        <h1>CHAT APP</h1>
        <div class="container">
            <div class="box" id="profiles">
                
            </div>
        </div>
    </div>

    
    <div id="chatBox" class="chat-box hidden">
        <div class="chat-header">
            <div class="dp"></div>
            <span id="chatWith"></span>
            <button id="closeChat">Close</button>
        </div>
        <div id="messages" class="messages">
            
        </div>
        <div class="chat-footer">
            <input id="messageInput" type="text" placeholder="Type your message here">
            <button id="sendMessage">Send</button>
        </div>
    </div>
</body>
<script src="../script/chatappdisplay.js"></script>
</html>
