<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style/chatappdisplay.css">
</head>
<body>
    <div class="main">
        <h1>CHAT APP</h1>
        <div class="container">
            <div class="box" id="profiles">
                
            </div>
        </div>
    </div>
    
</body>
<script src="../script/chatappdisplay.js"></script>
</html>
