<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style/chatappdisplay.css">
</head>
<body>
    <div class="main">
        <h1>CHAT APP</h1>
        <button class="groupbtn" id="groupbtn">CREAT GROUP</button>
        <div class="container">
            <div class="box" id="profiles">
                
            </div>
        </div>
    </div>

    
    <div id="chatBox" class="chat-box hidden">
        <div class="chat-header">
            <div class="dp"></div>
            <span id="chatWith"></span>
            <button id="closeChat">Close</button>
        </div>
        <div id="messages" class="messages">
            
        </div>
        <div class="chat-footer">
            <input id="messageInput" type="text" placeholder="Type your message here">
            <button id="sendMessage">Send</button>
        </div>
    </div>
    <div class="body">
    <div id="box" style="display: none;">
        <h2>Select Users to Create Group</h2>
        <input placeholder="ENTER GROUP NAME" style="padding: 6px; margin-top: 10px; width: 50%;" id="groupname">
        <ul class="userlist" id="userlist"></ul>
        <button id="createGroup">Create Group</button>
        
        <div id="groupOutput"></div>
    </div>
    <div class="startgroupchat" id="startgroupchat">
        <button id="showgroup">GROUPS</button>
        
    </div>
    </div>
</body>
<script src="script/chatappdisplay.js"></script>
</html>
