<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
   <link rel="stylesheet" href="style/signup.css">
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  
</head>
<body>
        <div class="form">

     
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="phoneno">PhoneNo:</label>
        <input type="tel" id="number" name="number" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Sign Up" id="submitbtn">
        <span>Already Account ? <a href="/getLogin">Login</a></span>
        </div> 
   
</body>
<script src="../script/signup.js"></script>
</html>